.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
}

.avatar {
  display: flex;
  align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 0 12px;
  flex-shrink: 0;
  flex-grow: 0;
  background: url(../images/boss.svg);
  opacity: 1;
}

.avatar:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.InformationBlock {
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.InformationBlock:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.PersonalInformation {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AdditionalInformation {
  width: 10%;
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
}

.lastmessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
}

.lastmessage p {
  color: #a0a0a0;
  font-size: 90%;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35px;
}

.time p {
  color: #a0a0a0;
  font-size: 90%;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35px;
  background: url(../images/checkmark.png);
  background-repeat: no-repeat;
  background-size: 20%;
}
